@model Abs.Models.Dash

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Dash</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Driver.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Driver.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manager.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manager.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DashId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
